USE [master]
GO
/****** Object:  Database [kres_yonetimi]    Script Date: 20.09.2025 18:24:21 ******/
CREATE DATABASE [kres_yonetimi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kres_yonetimi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\kres_yonetimi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kres_yonetimi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\kres_yonetimi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kres_yonetimi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kres_yonetimi]
GO
/****** Object:  Table [dbo].[AlinanDers]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlinanDers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ogrenciId] [int] NULL,
	[ders] [int] NULL,
	[dersKayitTarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bina]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bina](
	[BinaNo] [int] IDENTITY(1,1) NOT NULL,
	[GüvenlikKameraSayisi] [int] NULL,
	[kresId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BinaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[dersId] [int] IDENTITY(1,1) NOT NULL,
	[dersAdı] [varchar](20) NOT NULL,
	[dersIcerigi] [varchar](50) NOT NULL,
	[dersPersoneli] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Il]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Il](
	[ilPlakaNo] [int] NOT NULL,
	[ilAdı] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ilPlakaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kres]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kres](
	[KresNo] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[IlId] [char](2) NULL,
	[YemekhaneID] [int] NULL,
	[BinaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KresNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meslek]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meslek](
	[MeslekID] [int] NOT NULL,
	[MeslekAd] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MeslekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odeme]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odeme](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [date] NOT NULL,
	[Miktar] [int] NOT NULL,
	[OdemeYontemiID] [int] NULL,
	[sozlesmeid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OdemeYontemi]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdemeYontemi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tur] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odev]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odev](
	[OdevID] [int] NOT NULL,
	[TeslimTarihi] [date] NOT NULL,
	[VerilisTarihi] [date] NOT NULL,
	[İcerigi] [varchar](200) NOT NULL,
	[DersId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdevID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[OgrenciNo] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](20) NOT NULL,
	[Soyad] [varchar](20) NOT NULL,
	[TCNO] [char](11) NOT NULL,
	[KayitTarihi] [date] NOT NULL,
	[AyrilisTarihi] [date] NULL,
	[Boyu] [float] NOT NULL,
	[Kilosu] [int] NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Devamsizlik] [smallint] NOT NULL,
	[Cinsiyet] [char](1) NOT NULL,
	[IlacBilgisi] [varchar](50) NULL,
	[VeliID] [int] NULL,
	[ServisID] [int] NULL,
	[SinifID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OgrenciNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[personelId] [int] IDENTITY(1,1) NOT NULL,
	[personelAd] [varchar](50) NOT NULL,
	[PersonelSoyad] [varchar](50) NOT NULL,
	[personelEhliyet] [bit] NULL,
	[personelAdress] [varchar](100) NOT NULL,
	[personelTc] [varchar](11) NOT NULL,
	[personelMail] [varchar](50) NOT NULL,
	[personelTel] [char](10) NULL,
	[personelDogumTarihi] [date] NOT NULL,
	[personelTuru] [int] NOT NULL,
	[personelSicilNo] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[personelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelTuru]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelTuru](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Görevi] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servis]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servis](
	[servisId] [int] IDENTITY(1,1) NOT NULL,
	[Plaka] [varchar](10) NOT NULL,
	[personelSoforNo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[servisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinif]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinif](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](20) NULL,
	[BinaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sozlesme]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sozlesme](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BaslangicTarih] [date] NOT NULL,
	[BitisTarih] [date] NOT NULL,
	[ogrenciId] [int] NULL,
	[ucret] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tur]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tur](
	[TurID] [int] IDENTITY(1,1) NOT NULL,
	[TurAd] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veli]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veli](
	[veliID] [int] IDENTITY(1,1) NOT NULL,
	[veliTC] [char](11) NOT NULL,
	[veliAd] [varchar](50) NOT NULL,
	[veliSoyad] [varchar](50) NOT NULL,
	[veliMail] [varchar](50) NOT NULL,
	[veliTel] [char](10) NOT NULL,
	[veliCinsiyet] [char](1) NULL,
	[vleiMeslekId] [int] NOT NULL,
	[veliTurId] [int] NULL,
	[veliAdres] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[veliID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yemekhane]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yemekhane](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kapasite] [int] NULL,
	[bina] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ziyaretci]    Script Date: 20.09.2025 18:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ziyaretci](
	[ZiyaretciId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](20) NOT NULL,
	[Soyad] [varchar](20) NOT NULL,
	[TCNO] [char](11) NOT NULL,
	[Adres] [varchar](100) NULL,
	[Mail] [varchar](50) NULL,
	[Tel] [char](10) NOT NULL,
	[kresid] [int] NULL,
	[ogrenciId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ZiyaretciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AlinanDers] ON 

INSERT [dbo].[AlinanDers] ([id], [ogrenciId], [ders], [dersKayitTarihi]) VALUES (1, 1, 1, CAST(N'2022-09-21' AS Date))
INSERT [dbo].[AlinanDers] ([id], [ogrenciId], [ders], [dersKayitTarihi]) VALUES (2, 2, 2, CAST(N'2022-09-21' AS Date))
INSERT [dbo].[AlinanDers] ([id], [ogrenciId], [ders], [dersKayitTarihi]) VALUES (3, 3, 3, CAST(N'2022-09-21' AS Date))
SET IDENTITY_INSERT [dbo].[AlinanDers] OFF
GO
SET IDENTITY_INSERT [dbo].[Bina] ON 

INSERT [dbo].[Bina] ([BinaNo], [GüvenlikKameraSayisi], [kresId]) VALUES (1, 5, 1)
INSERT [dbo].[Bina] ([BinaNo], [GüvenlikKameraSayisi], [kresId]) VALUES (2, 4, 2)
INSERT [dbo].[Bina] ([BinaNo], [GüvenlikKameraSayisi], [kresId]) VALUES (3, 6, 3)
SET IDENTITY_INSERT [dbo].[Bina] OFF
GO
SET IDENTITY_INSERT [dbo].[Ders] ON 

INSERT [dbo].[Ders] ([dersId], [dersAdı], [dersIcerigi], [dersPersoneli]) VALUES (1, N'Boyama', N'Renkli kalemler ile çizim', 1)
INSERT [dbo].[Ders] ([dersId], [dersAdı], [dersIcerigi], [dersPersoneli]) VALUES (2, N'Matematik', N'Sayilar', 5)
INSERT [dbo].[Ders] ([dersId], [dersAdı], [dersIcerigi], [dersPersoneli]) VALUES (3, N'Ingilizce', N'Renkler', 5)
SET IDENTITY_INSERT [dbo].[Ders] OFF
GO
INSERT [dbo].[Il] ([ilPlakaNo], [ilAdı]) VALUES (1, N'Adana')
INSERT [dbo].[Il] ([ilPlakaNo], [ilAdı]) VALUES (7, N'Antalya')
INSERT [dbo].[Il] ([ilPlakaNo], [ilAdı]) VALUES (16, N'Bursa')
GO
SET IDENTITY_INSERT [dbo].[Kres] ON 

INSERT [dbo].[Kres] ([KresNo], [Ad], [IlId], [YemekhaneID], [BinaId]) VALUES (1, N'Papatyalar', N'34', 1, 1)
INSERT [dbo].[Kres] ([KresNo], [Ad], [IlId], [YemekhaneID], [BinaId]) VALUES (2, N'Mor Menekseler', N'52', 6, 2)
INSERT [dbo].[Kres] ([KresNo], [Ad], [IlId], [YemekhaneID], [BinaId]) VALUES (3, N'Sirinler', N'16', 8, 3)
SET IDENTITY_INSERT [dbo].[Kres] OFF
GO
INSERT [dbo].[Meslek] ([MeslekID], [MeslekAd]) VALUES (1, N'Ögretmen')
INSERT [dbo].[Meslek] ([MeslekID], [MeslekAd]) VALUES (2, N'Doktor')
INSERT [dbo].[Meslek] ([MeslekID], [MeslekAd]) VALUES (3, N'Polis')
GO
SET IDENTITY_INSERT [dbo].[Odeme] ON 

INSERT [dbo].[Odeme] ([ID], [Tarih], [Miktar], [OdemeYontemiID], [sozlesmeid]) VALUES (1, CAST(N'2022-09-21' AS Date), 1800, 2, 6)
INSERT [dbo].[Odeme] ([ID], [Tarih], [Miktar], [OdemeYontemiID], [sozlesmeid]) VALUES (2, CAST(N'2022-10-21' AS Date), 400, 2, 6)
INSERT [dbo].[Odeme] ([ID], [Tarih], [Miktar], [OdemeYontemiID], [sozlesmeid]) VALUES (3, CAST(N'2022-11-21' AS Date), 400, 2, 6)
SET IDENTITY_INSERT [dbo].[Odeme] OFF
GO
SET IDENTITY_INSERT [dbo].[OdemeYontemi] ON 

INSERT [dbo].[OdemeYontemi] ([ID], [Tur]) VALUES (1, N'Kredi Karti')
INSERT [dbo].[OdemeYontemi] ([ID], [Tur]) VALUES (2, N'Nakit')
INSERT [dbo].[OdemeYontemi] ([ID], [Tur]) VALUES (3, N'Senet')
SET IDENTITY_INSERT [dbo].[OdemeYontemi] OFF
GO
INSERT [dbo].[Odev] ([OdevID], [TeslimTarihi], [VerilisTarihi], [İcerigi], [DersId]) VALUES (1, CAST(N'2023-01-03' AS Date), CAST(N'2022-12-28' AS Date), N'Boyama', 1)
INSERT [dbo].[Odev] ([OdevID], [TeslimTarihi], [VerilisTarihi], [İcerigi], [DersId]) VALUES (2, CAST(N'2023-01-05' AS Date), CAST(N'2022-12-29' AS Date), N'Matematik', 2)
INSERT [dbo].[Odev] ([OdevID], [TeslimTarihi], [VerilisTarihi], [İcerigi], [DersId]) VALUES (3, CAST(N'2023-01-08' AS Date), CAST(N'2022-12-30' AS Date), N'Ingilizce', 3)
GO
SET IDENTITY_INSERT [dbo].[Ogrenci] ON 

INSERT [dbo].[Ogrenci] ([OgrenciNo], [Ad], [Soyad], [TCNO], [KayitTarihi], [AyrilisTarihi], [Boyu], [Kilosu], [DogumTarihi], [Devamsizlik], [Cinsiyet], [IlacBilgisi], [VeliID], [ServisID], [SinifID]) VALUES (1, N'Ibrahim', N'Yildiz', N'62562635621', CAST(N'2022-09-21' AS Date), CAST(N'2023-05-10' AS Date), 130, 25, CAST(N'2018-08-05' AS Date), 4, N'E', N'Kullaniyor', 1, 7, 1)
INSERT [dbo].[Ogrenci] ([OgrenciNo], [Ad], [Soyad], [TCNO], [KayitTarihi], [AyrilisTarihi], [Boyu], [Kilosu], [DogumTarihi], [Devamsizlik], [Cinsiyet], [IlacBilgisi], [VeliID], [ServisID], [SinifID]) VALUES (2, N'Melek', N'Akman', N'26234632612', CAST(N'2022-09-21' AS Date), CAST(N'2023-06-15' AS Date), 120, 18, CAST(N'2018-10-03' AS Date), 1, N'K', N'Kullanmiyor', 2, 3, 2)
INSERT [dbo].[Ogrenci] ([OgrenciNo], [Ad], [Soyad], [TCNO], [KayitTarihi], [AyrilisTarihi], [Boyu], [Kilosu], [DogumTarihi], [Devamsizlik], [Cinsiyet], [IlacBilgisi], [VeliID], [ServisID], [SinifID]) VALUES (3, N'Cansu', N'Demir', N'26259562625', CAST(N'2022-09-21' AS Date), CAST(N'2023-04-10' AS Date), 118, 19, CAST(N'2018-12-03' AS Date), 0, N'K', N'Kullanmiyor', 3, 2, 3)
SET IDENTITY_INSERT [dbo].[Ogrenci] OFF
GO
SET IDENTITY_INSERT [dbo].[Personel] ON 

INSERT [dbo].[Personel] ([personelId], [personelAd], [PersonelSoyad], [personelEhliyet], [personelAdress], [personelTc], [personelMail], [personelTel], [personelDogumTarihi], [personelTuru], [personelSicilNo]) VALUES (1, N'Büsra', N'Teken', 1, N'Fenike mah Tarim sok. Bagcilar/Istanbul', N'55325445625', N'busrateken@gmail.com', N'5355226687', CAST(N'1991-05-08' AS Date), 2, N'65230623893')
INSERT [dbo].[Personel] ([personelId], [personelAd], [PersonelSoyad], [personelEhliyet], [personelAdress], [personelTc], [personelMail], [personelTel], [personelDogumTarihi], [personelTuru], [personelSicilNo]) VALUES (5, N'Ahmet', N'Alan', 0, N'ulucami mah 22 sokak no1 d3', N'72639574103', N'ahmet.alan@gmail.com', N'5418234892', CAST(N'1991-05-08' AS Date), 2, N'25184673192')
INSERT [dbo].[Personel] ([personelId], [personelAd], [PersonelSoyad], [personelEhliyet], [personelAdress], [personelTc], [personelMail], [personelTel], [personelDogumTarihi], [personelTuru], [personelSicilNo]) VALUES (6, N'Fethiye', N'Koç', 1, N'çiçek mahallesi papatya sokak no 5 Van-Merkez', N'82415697321', N'fethiyekoc@gmail.com', N'5418239711', CAST(N'1995-02-01' AS Date), 2, N'25184678124')
SET IDENTITY_INSERT [dbo].[Personel] OFF
GO
SET IDENTITY_INSERT [dbo].[PersonelTuru] ON 

INSERT [dbo].[PersonelTuru] ([ID], [Görevi]) VALUES (1, N'Soför')
INSERT [dbo].[PersonelTuru] ([ID], [Görevi]) VALUES (2, N'Ögretmen')
INSERT [dbo].[PersonelTuru] ([ID], [Görevi]) VALUES (3, N'Temizlikçi')
SET IDENTITY_INSERT [dbo].[PersonelTuru] OFF
GO
SET IDENTITY_INSERT [dbo].[Servis] ON 

INSERT [dbo].[Servis] ([servisId], [Plaka], [personelSoforNo]) VALUES (1, N'01YT4521', 1007)
INSERT [dbo].[Servis] ([servisId], [Plaka], [personelSoforNo]) VALUES (2, N'41LK7854', 1002)
INSERT [dbo].[Servis] ([servisId], [Plaka], [personelSoforNo]) VALUES (3, N'34GS8745', 7)
SET IDENTITY_INSERT [dbo].[Servis] OFF
GO
SET IDENTITY_INSERT [dbo].[Sinif] ON 

INSERT [dbo].[Sinif] ([ID], [Ad], [BinaId]) VALUES (1, N'Mutlu', 9)
INSERT [dbo].[Sinif] ([ID], [Ad], [BinaId]) VALUES (2, N'Sevda', 9)
INSERT [dbo].[Sinif] ([ID], [Ad], [BinaId]) VALUES (3, N'Anemon', 9)
SET IDENTITY_INSERT [dbo].[Sinif] OFF
GO
SET IDENTITY_INSERT [dbo].[Sozlesme] ON 

INSERT [dbo].[Sozlesme] ([ID], [BaslangicTarih], [BitisTarih], [ogrenciId], [ucret]) VALUES (6, CAST(N'2022-09-21' AS Date), CAST(N'2023-06-10' AS Date), 1, 5000)
INSERT [dbo].[Sozlesme] ([ID], [BaslangicTarih], [BitisTarih], [ogrenciId], [ucret]) VALUES (7, CAST(N'2022-09-21' AS Date), CAST(N'2023-06-10' AS Date), 2, 5000)
INSERT [dbo].[Sozlesme] ([ID], [BaslangicTarih], [BitisTarih], [ogrenciId], [ucret]) VALUES (8, CAST(N'2022-09-21' AS Date), CAST(N'2023-06-10' AS Date), 3, 5000)
SET IDENTITY_INSERT [dbo].[Sozlesme] OFF
GO
SET IDENTITY_INSERT [dbo].[Tur] ON 

INSERT [dbo].[Tur] ([TurID], [TurAd]) VALUES (1, N'Anne')
INSERT [dbo].[Tur] ([TurID], [TurAd]) VALUES (2, N'Baba')
INSERT [dbo].[Tur] ([TurID], [TurAd]) VALUES (3, N'Amca')
SET IDENTITY_INSERT [dbo].[Tur] OFF
GO
SET IDENTITY_INSERT [dbo].[Veli] ON 

INSERT [dbo].[Veli] ([veliID], [veliTC], [veliAd], [veliSoyad], [veliMail], [veliTel], [veliCinsiyet], [vleiMeslekId], [veliTurId], [veliAdres]) VALUES (1, N'65485132341', N'Ali', N'Yildiz', N'aliyildiz@gmail.com', N'5364258798', N'E', 7, 2, N'Kemalpasa mah Çiçek sokak no:7 bagcilar/Ist')
INSERT [dbo].[Veli] ([veliID], [veliTC], [veliAd], [veliSoyad], [veliMail], [veliTel], [veliCinsiyet], [vleiMeslekId], [veliTurId], [veliAdres]) VALUES (2, N'46644623564', N'Seda', N'Akman', N'sedaakman@gmail.com', N'5665235623', N'K', 6, 1, N'Halici mah beyaz sokak Arnavutköy/Ist')
INSERT [dbo].[Veli] ([veliID], [veliTC], [veliAd], [veliSoyad], [veliMail], [veliTel], [veliCinsiyet], [vleiMeslekId], [veliTurId], [veliAdres]) VALUES (3, N'45148545145', N'Dogan', N'Demir', N'dogandemir@gmail.com', N'5621511615', N'E', 4, 3, N'Seten mahallesi 12.sokak Gebze/Kocaeli')
SET IDENTITY_INSERT [dbo].[Veli] OFF
GO
SET IDENTITY_INSERT [dbo].[Yemekhane] ON 

INSERT [dbo].[Yemekhane] ([ID], [Kapasite], [bina]) VALUES (1, 20, 1)
INSERT [dbo].[Yemekhane] ([ID], [Kapasite], [bina]) VALUES (2, 40, 9)
INSERT [dbo].[Yemekhane] ([ID], [Kapasite], [bina]) VALUES (3, 30, 2)
SET IDENTITY_INSERT [dbo].[Yemekhane] OFF
GO
SET IDENTITY_INSERT [dbo].[Ziyaretci] ON 

INSERT [dbo].[Ziyaretci] ([ZiyaretciId], [Ad], [Soyad], [TCNO], [Adres], [Mail], [Tel], [kresid], [ogrenciId]) VALUES (1, N'Furkan', N'Kocak', N'50419807617', N'Kemal Pasa mah çiçek sokak no 7 avcilar/istanbul', N'furkankocak@gmail.com', N'5419602226', 1, 1)
INSERT [dbo].[Ziyaretci] ([ZiyaretciId], [Ad], [Soyad], [TCNO], [Adres], [Mail], [Tel], [kresid], [ogrenciId]) VALUES (2, N'Ömer', N'Baki', N'50448925878', N'Bayraktepe mah Yasar çiftçi sok no 3 Merkez-Yalova ', N'ömerbaki@gmail.com', N'5429532569', 2, 2)
INSERT [dbo].[Ziyaretci] ([ZiyaretciId], [Ad], [Soyad], [TCNO], [Adres], [Mail], [Tel], [kresid], [ogrenciId]) VALUES (3, N'Sefa', N'Köse', N'35685124578', N'Fatih mah ferman cad no 2', N'sefakose@gmail.com', N'5356984898', 3, 3)
SET IDENTITY_INSERT [dbo].[Ziyaretci] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personel__05D64ABBD6B7D5EE]    Script Date: 20.09.2025 18:24:21 ******/
ALTER TABLE [dbo].[Personel] ADD UNIQUE NONCLUSTERED 
(
	[personelMail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personel__6A2D4645AE6146BF]    Script Date: 20.09.2025 18:24:21 ******/
ALTER TABLE [dbo].[Personel] ADD UNIQUE NONCLUSTERED 
(
	[personelSicilNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personel__C0E7BA433E321D4F]    Script Date: 20.09.2025 18:24:21 ******/
ALTER TABLE [dbo].[Personel] ADD UNIQUE NONCLUSTERED 
(
	[personelTc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlinanDers]  WITH CHECK ADD FOREIGN KEY([ogrenciId])
REFERENCES [dbo].[Ogrenci] ([OgrenciNo])
GO
ALTER TABLE [dbo].[AlinanDers]  WITH CHECK ADD FOREIGN KEY([ogrenciId])
REFERENCES [dbo].[Ogrenci] ([OgrenciNo])
GO
ALTER TABLE [dbo].[AlinanDers]  WITH CHECK ADD FOREIGN KEY([ders])
REFERENCES [dbo].[Ders] ([dersId])
GO
ALTER TABLE [dbo].[AlinanDers]  WITH CHECK ADD FOREIGN KEY([ders])
REFERENCES [dbo].[Ders] ([dersId])
GO
ALTER TABLE [dbo].[Bina]  WITH CHECK ADD FOREIGN KEY([kresId])
REFERENCES [dbo].[Kres] ([KresNo])
GO
ALTER TABLE [dbo].[Ders]  WITH CHECK ADD FOREIGN KEY([dersPersoneli])
REFERENCES [dbo].[Personel] ([personelId])
GO
ALTER TABLE [dbo].[Odeme]  WITH CHECK ADD FOREIGN KEY([OdemeYontemiID])
REFERENCES [dbo].[OdemeYontemi] ([ID])
GO
ALTER TABLE [dbo].[Odeme]  WITH CHECK ADD FOREIGN KEY([sozlesmeid])
REFERENCES [dbo].[Sozlesme] ([ID])
GO
ALTER TABLE [dbo].[Odev]  WITH CHECK ADD FOREIGN KEY([DersId])
REFERENCES [dbo].[Ders] ([dersId])
GO
ALTER TABLE [dbo].[Ogrenci]  WITH CHECK ADD FOREIGN KEY([ServisID])
REFERENCES [dbo].[Servis] ([servisId])
GO
ALTER TABLE [dbo].[Ogrenci]  WITH CHECK ADD FOREIGN KEY([SinifID])
REFERENCES [dbo].[Sinif] ([ID])
GO
ALTER TABLE [dbo].[Ogrenci]  WITH CHECK ADD FOREIGN KEY([VeliID])
REFERENCES [dbo].[Veli] ([veliID])
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD FOREIGN KEY([personelTuru])
REFERENCES [dbo].[PersonelTuru] ([ID])
GO
ALTER TABLE [dbo].[Servis]  WITH CHECK ADD FOREIGN KEY([personelSoforNo])
REFERENCES [dbo].[Personel] ([personelId])
GO
ALTER TABLE [dbo].[Sinif]  WITH CHECK ADD FOREIGN KEY([BinaId])
REFERENCES [dbo].[Bina] ([BinaNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sozlesme]  WITH CHECK ADD FOREIGN KEY([ogrenciId])
REFERENCES [dbo].[Ogrenci] ([OgrenciNo])
GO
ALTER TABLE [dbo].[Veli]  WITH CHECK ADD FOREIGN KEY([veliTurId])
REFERENCES [dbo].[Tur] ([TurID])
GO
ALTER TABLE [dbo].[Veli]  WITH CHECK ADD FOREIGN KEY([vleiMeslekId])
REFERENCES [dbo].[Meslek] ([MeslekID])
GO
ALTER TABLE [dbo].[Yemekhane]  WITH CHECK ADD FOREIGN KEY([bina])
REFERENCES [dbo].[Bina] ([BinaNo])
GO
ALTER TABLE [dbo].[Ziyaretci]  WITH CHECK ADD FOREIGN KEY([kresid])
REFERENCES [dbo].[Kres] ([KresNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ziyaretci]  WITH CHECK ADD FOREIGN KEY([ogrenciId])
REFERENCES [dbo].[Ogrenci] ([OgrenciNo])
ON DELETE CASCADE
GO
USE [master]
GO
